<p-dropdown
  [options]="truckCategories$ | async"
  [(ngModel)]="selectedTruckCategories"
  optionLabel="name"
></p-dropdown>
<button pButton type="button" label="Найти" (click)="find()"></button>
<button
  pButton
  class="p-button-secondary"
  type="button"
  label="Очистить"
  (click)="clear()"
></button>
