<div class="p-grid">
  <div class="p-col-3 p-pl-3">
    <app-filters-form></app-filters-form>
  </div>
  <div class="p-col-9">
    <div class="p-d-flex p-jc-between">
      <h1 class="page__header">Статистика нарушений</h1>
    </div>
    <app-applied-filters></app-applied-filters>
    <div class="page__table">
      <app-table [data]="tableItems$ | async"></app-table>
    </div>
  </div>
</div>
