<p-table [value]="data">
  <ng-template pTemplate="header">
    <tr>
      <th>Наименование категории ТС</th>
      <th>Проездов всего</th>
      <th>Превышений по нагрузке на ось</th>
      <th>Превышений по массе</th>
      <th>Превышений по габаритам</th>
      <th>Превышений всего</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{ item.truckCategory }}</td>
      <td>{{ item.violationCount }}</td>
      <td>{{ item.trackExcessDimensions }}</td>
      <td>{{ item.trackExcessGrossWeight }}</td>
      <td>{{ item.trackExcessThrust }}</td>
      <td>{{ item.factCount }}</td>
    </tr>
  </ng-template>
</p-table>
